%h1== #{@project.title} workspaces

%ol#workspaces
  - @workspaces.each do |workspace|
    %li{ id: "workspace-#{workspace.to_param}" }
      = link_to workspace.title, [@project, workspace]
      .handle
        %i.fa.fa-sort

%ul.operations
  %li#new-link= link_to 'New workspace', new_project_workspace_path(@project)
  %li#back-link= link_to 'Back to project', @project