%h1== #{@workspace.title} workspace for #{@project.title}
%p.description= @workspace.description
- binding.pry

= image_tag @workspace.attachment.url(:thumb)
%h2 Updates
- unless @workspace.updates.empty?
  %ul.updates
    - @workspace.updates.each do |update|
      %li= link_to truncate(update.body, length: 250), project_update_path(@project, update)
- else
  %p.no-content No updates for this workspace.

%ul.operations
  %li= link_to 'Edit', edit_project_workspace_path(@project, @workspace)
  %li= link_to 'Destroy', [@project, @workspace], method: :delete, prompt: "Are you sure?"
  %li= link_to 'Back', project_workspaces_path(@project)
