= simple_form_for @project do |project_form|
  .form-inputs
    = project_form.input :title, label: "Project title"
    = project_form.input :type, label: "Project type"
    = project_form.input :value, label: "Project value"
    = project_form.input :owner_name, label: "Owner"
    = project_form.input :architect_name, label: "Architect"
    = project_form.input :builder_name, label: "Builder"
    = project_form.input :description, as: :text, label: "Project description"
    = project_form.input :starts_at, as: :datepicker, label: "Start date"
    = project_form.input :ends_at, as: :datepicker, label: "End date"
  .form-actions
    = project_form.button :submit, "Save"
