%h2
  .title= @project.title.titleize
  .completion-date== Estimated completion date: #{@project.ends_at.to_s(:month_and_year)}
%p.description= @project.description

%ul.operations
  %li= link_to 'Edit', edit_project_path(@project)
  %li= link_to 'Back', projects_path
