.minimap
  %ul.minimap-page-sections
    %li Project Brief
    %li.active Description
    %li Maps
    %li Updates
.page--header
  .project-header
    / .logo= image_tag @project.logo.url(:main), title: "#{@project.title.titleize} logo", class: "header-image"
    .project-information
      %h2
        .title= @project.title.titleize
      .credits
        - unless @project.owner_title.blank?
          .credit
            %span.label Owner
            %span.value= @project.owner_title
        - unless @project.architect_title.blank?
          .credit
            %span.label Architect
            %span.value= @project.architect_title
        - unless @project.builder_title.blank?
          .credit
            %span.label Builder
            %span.value= @project.builder_title
      .details
        %progress value: "22", max: "100"
        - if @project.address
          .project-definition
            %span.label Location
            %span.value= @project.address
        - unless @project.type.blank?
          .wrap
            .project-definition
              %span.label Project type
              %span.value= @project.type
        - if @project.value
          .wrap
            .project-definition
              %span.label Contract value
              %span.value= number_to_currency @project.value
        .wrap
          .project-definition
            %span.label Estimate Completion Date
            %span.value= @project.ends_at.to_s(:month_and_year)
/ %ul.operations
/   - if current_user.authorized? to: Authorization::CREATE_UPDATES, on: @project
/     %li= link_to 'Add update', new_project_update_path(@project)
/   - if current_user.authorized? to: Authorization::ADMINISTER, on: @project
/     %li= link_to 'Edit', edit_project_path(@project)
/   %li= link_to 'Back', projects_path  
.description
  .small-internal-wrapper
    %label Project Description <br/>
    %p= @project.description
%h3 Updates
= form_tag project_path(@project), method: :get do
  = label_tag 'workspace_id', "Workspace"
  = select_tag 'workspace_id', options_from_collection_for_select(@project.workspaces, "id", "title"), include_blank: true
  = submit_tag "Filter"
%ul.updates
  - @updates.each do |update|
    %li
      .thumbnail= image_tag update.attachment.url(:thumb)
      %h3.workspace= link_to update.workspace_title, [@project, update]
      %p
        = truncate(update.body, length: 200) do
          = link_to "(More)", [@project, update]
      .tagline== Posted #{update.created_at.to_s(:verbose)} by #{update.author.try :full_name}
