.minimap.no-mobile
  %ul.minimap-page-sections
    %li.selected 
      %a{ :href => "#page--header"} Project Brief
    %li 
      %a{ :href => "#description"} Description
    %li
      %a{ :href => "#update-section"} Updates
#page--header.page--header
  .project-header
    / .logo= image_tag @project.logo.url(:main), title: "#{@project.title.titleize} logo", class: "header-image"
    .project-information
      %h2
        .title= @project.title.titleize
      .credits
        - unless @project.owner_title.blank?
          .credit
            %span.label Owner
            %span.value= @project.owner_title
        - unless @project.architect_title.blank?
          .credit
            %span.label Architect
            %span.value= @project.architect_title
        - unless @project.builder_title.blank?
          .credit
            %span.label Builder
            %span.value= @project.builder_title
      %ul.operations
        - if current_user.authorized? to: Authorization::CREATE_UPDATES, on: @project
          %li= link_to 'Add update', new_project_update_path(@project)
        - if current_user.authorized? to: Authorization::ADMINISTER, on: @project
          %li= link_to 'Edit', edit_project_path(@project)
        %li= link_to 'Back', projects_path
      .details
        %progress.no-mobile value: "22", max: "100"
        - unless @project.type.blank?
          .project-definition
            %span.label Project type
            %span.value= @project.type
        - if @project.value
          .project-definition
            %span.label Contract value
            %span.value= number_to_currency @project.value
        .project-definition
          %span.label Estimate Completion Date
          %span.value= @project.ends_at.to_s(:month_and_year)  
#description.description
  .small-internal-wrapper
    %label Project Description <br/>
    %p= @project.description
.wrapper
  = form_tag project_path(@project), class: "update-filter", method: :get do
    = label_tag 'workspace_id', "Workspace"
    = select_tag 'workspace_id', options_from_collection_for_select(@project.workspaces, "id", "title"), include_blank: true, class: "left"
    = submit_tag "Filter", class: "right"
  #update-section.update-section
    %ul.updates
      - @updates.each do |update|
        .dateline== #{update.created_at.to_s(:verbose)} 
        %li
          %h3.workspace= link_to update.workspace_title, [@project, update]
          .thumbnail= image_tag update.attachment.url
          %p
            = truncate(update.body, length: 200) do
              = link_to "(More)", [@project, update]
