%h3 Edit My Company

= simple_form_for @company do |co_form|
  = co_form.error_notification
  .form-inputs
    = co_form.input :title
    = co_form.input :email_domain
  #attachment-area
    = image_tag(@company.logo.thumb.url) if @company.logo?
    = co_form.input :logo, as: :file, label: "Company Logo"
    = co_form.hidden_field :logo_cache
  .form-actions
    = co_form.button :submit, "Update"
  .invite-employee-wrap.center
    = link_to "Invite fellow employees of #{@company.title}", new_user_invitation_path, class: "test'"