!!!
%html
  %head
    %title Before the Banners
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0"}
  %body{ :class=> "#{controller_name}"}
    .homepage--header-links
      = flash.map { |type, msg| msg }.join("; ")
      %form(action="/projects" class="search-form")
        %input(type="text" name="terms" id="search-terms-input" placeholder="Search projects")
      - if user_signed_in?
        = link_to "Sign out", destroy_user_session_path, method: :delete, class: "sign-out"
      - else
        = link_to "Sign in", new_user_session_path, class: "sign-in"
        %a{ :href => "#sign-up-section"} Sign up
    .header.center
      .logo-tagline
        .btb-logo
        .tagline Before The Banners is a marketing platform for high<br/> profile construction and real estate development projects.
        %a.signup-link{ :href => "#sign-up-section"} Sign up today
    .homepage--page
      .homepage--page--section
        .homepage-inner-wrap
          =image_tag "project.png"
          %h3.center Easy project updates that benefit everyone.
          %ul.feature-set.owners
            %span.audience-title Owners
            %li Marketing for your organization’s expansion project – create some buzz.
            %li Ensure community-conscious actions from your construction team.
            %li Communicate the progress of the work and get your people excited about your investment.
          %ul.feature-set.contractors
            %span.audience-title Contractors
            %li Get recognized for your impressive work.
            %li Improve Customer Service.
            %li Develop Meaningful Relationships.
          %ul.feature-set.community
            %span.audience-title The Community
            %li Get a peek behind the construction barriers.
            %li 
              Discover the projects that are impacting your community.
              %a(href="/projects") Search now!
            %li Stay informed about your community’s future.
      #sign-up-section.homepage--page--section
        .homepage-inner-wrap
          .form-title.center You’ll be communicating with stakeholders and marketing your project in no time.
          %p.about.center Soon you'll be posting updates and alerts, marketing your project to the community and informing stakeholders at the same time.
          = simple_form_for(@user, as: "user", url: registration_path(@user), html: { class: "two-column"}) do |f|
            = f.error_notification
            .form-inputs.two-up
              = f.input :first_name, required: true
              = f.input :last_name, required: true
              = f.simple_fields_for :company, @company do |company_fields|
                = company_fields.input :title, label: "Company name"
              = f.input :email, required: true, label: "Company email address"
              = f.input :password, required: true
              = f.input :password_confirmation, required: true
            .form-actions
              = f.button :submit, "Sign up"
      %footer.homepage--footer
        .btb-logo
        .tagline Construction marketing for the projects that matter.
        %a{ :href => "mailto:info@beforethebanners.com"} info@beforethebanners.com
        .copyright © 2014 Before The Banners, Inc. All Rights Reserved.
  / :javascript
  /   window.scrollTo(0,0);
