= simple_form_for [@project, @update] do |f|
  = f.error_notification
  .form-inputs
    = f.input :body, as: :text
    = f.association :workspace, as: :select, collection: @project.workspaces
    #attachment-area
      %h3 Attachment
      = image_tag(@update.attachment.thumb.url) if @update.attachment?
      = f.input :attachment, as: :file, label: false
      = f.hidden_field :attachment_cache
  .form-actions
    = f.submit 'Save'