%h1== Authorization settings for #{@project.title}
= form_tag authorizations_for_project_path, method: :put do
  %table
    %th Member
    - Authorization.types.each do |type|
      %th= type.humanize
    - @members.each do |member|
      %tr
        %td
          = image_tag member.avatar.url(:thumb)
          - if !!member.invited_by_id && !member.invitation_accepted?
            == #{member.email} (pending)
          - else
            = member.full_name
        - Authorization.types.each do |type|
          %td= check_box_tag "members[#{member.id}][]", type, member.authorized?(to: type, on: @project)
  = submit_tag