%header.navigation
  .menu-wrapper
    =link_to root_path, class: "logo" do
      =image_tag("btb-logo.png")
    %p.navigation-menu-button#js-mobile-menu MENU
    .nav
      %ul#navigation-menu
        %li.nav-link
          =link_to "Projects", projects_path
    .navigation-tools
      %ul#navigation-menu
        - if user_signed_in?
          %li.nav-link= link_to "Signed in as #{current_user}", edit_user_registration_path, class: "profile"
          %li.nav-link= link_to "Sign out", destroy_user_session_path, method: :delete, class: "sign-out"
        - else
          %li.nav-link= link_to "Sign in", new_user_session_path, class: "sign-in"
          %li.nav-link= link_to "Sign up", new_user_registration_path, class: "sign-up"