!!!
%html
  %head
    %title Before the Banners
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;"}
  %body{ :class=> "#{controller_name}"}
    = render partial: "layouts/project_header"
    - unless flash.empty?
      = render partial: "layouts/flash_messages", locals: { flash: flash }
    = yield
  = javascript_include_tag 'application', 'data-turbolinks-track' => true