<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Before the Banners</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="<%= controller_name %>">
    <%= render partial: "layouts/project_header" %>
    <% unless flash.empty? %>
      <%= render partial: "layouts/flash_messages", locals: { flash: flash } %>
    <% end %>
    <%= yield %>
  </body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
