!!!
%html
  %head
    %title Before the Banners
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{ :class=> "#{controller_name}"}
    = render partial: "layouts/header"
    - unless flash.empty?
      = render partial: "layouts/flash_messages", locals: { flash: flash }
    = yield
  = javascript_include_tag 'application', 'data-turbolinks-track' => true